#root {
  /*max-width: 1280px;*/
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

body {
  margin: 0;
  display: flex;
  place-items: baseline;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  /*background: radial-gradient(56.65% 57.99% at 50% 57.99%, rgba(252, 216, 28, 0.05) 18.29%, rgba(123, 106, 14, 0.05) 36.52%, rgba(16, 14, 2, 0.05) 92.42%), rgba(16,14,2,1);*/
}

main {
  /*padding: 2em;*/
}

section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background: var(--bgYellowRadiant);
}

.section-separator {
  position: relative;
  z-index: -1;
  background: var(--bgYellowRadiant2);
  height: 60vh;
  opacity: 1;
  transform: rotate(180deg);
}

/*.lightbulb-box {
  transform: rotate(180deg);
  max-height: 16vh;
}*/
.lightbulb-box img {
  transform: rotate(180deg);
  max-height: 16vh;
  filter: drop-shadow(0px 1px 15px var(--color-primary)) drop-shadow(0px 6px 1px #FD3434);
}

.logo-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.logo-image-box img {
  max-height: 15vh;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  filter: drop-shadow(1px 1px 25px var(--color-primary));
  /*backdrop-filter: blur(2px);*/
  order: 0;
  flex-grow: 0;
  margin: -1em -2.5em;
}

.logo-title-box {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.highlight-container {
  z-index: -1;
}


.text-outline-yellow {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--color-primary);
}
.text-outline-dark {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--bgColor-default);
}

.shadow-highlight-yellow {
  box-shadow: 0px 0px 15px var(--color-primary);
}

.filter-highlight-yellow {
  filter: drop-shadow(0px 0px 15px var(--color-primary));
}

.backdrop-filter-blur {
  backdrop-filter: blur(2px);
}

.bg-design-container-center{
  display: flex;
  justify-content: center;
  height: 0;
}

.circuit-line-container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.circuit-circle {
  height: 24px;
  width: 24px;
  border: 1px solid var(--bgColor-default);
  border-radius: 50%;
  background: var(--color-primary);
}

.circuit-line {
  position: relative;
  margin-left: -4px;
  margin-right: -4px;
  height: 4px;
  border: 1px solid var(--color-primary);
  border-left: none;
  border-right: none;
}

#hero-section {
  background: var(--bgYellowRadiant2);
  height: calc(100vh - var(--header-margin) - 2em);
  flex-direction: column;
  justify-content: center;
}

#about-section {
  padding-top: 15vh;
}

.about-picture-box {
  height: 33vh;
  border: 2px solid var(--color-primary);

}